ul {
  margin-bottom: 0;
  list-style-position: outside;
  @media (min-width: 768px) {
    padding-left: 20px;
  }
  @media (max-width: 768px) {
    padding-left: 16px;
  }
}

p:last-child {
  margin-bottom: 0;
}
